<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 heading footer">
    © 2021 Copyright:
    <a class="text-dark" href="/">Cheekeman</a>
  </div>
  <!-- Copyright -->
</footer>



</body>
</html>
