<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>

    <meta name="description" content="A list app that you can use to keep track of notes on the fly.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="The List">
    <meta property="og:type" content="">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="icon" href="/images/favicon.ico" sizes="any">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/21cfa4355b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cheekedave/todo/public/js/copy.js"></script>
  </head>
  <body>
